<?xml version="1.0" encoding="utf-8"?>
<alltasks xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <task>
    <tasktype>Movie</tasktype>
    <desc>Tremors</desc>
    <startdate>2020-09-15T00:00:00</startdate>
    <enddate>2020-09-15T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Portrait of a Lady on Fire</desc>
    <startdate>2020-09-20T00:00:00</startdate>
    <enddate>2020-09-20T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Mad Max Thunderdome</desc>
    <startdate>2020-09-17T00:00:00</startdate>
    <enddate>2020-09-17T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>The Godfather I</desc>
    <startdate>2020-09-19T00:00:00</startdate>
    <enddate>2020-09-19T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Total Recall</desc>
    <startdate>2020-09-22T00:00:00</startdate>
    <enddate>2020-09-22T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Hook</desc>
    <startdate>2020-09-24T00:00:00</startdate>
    <enddate>2020-09-24T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Mad Max Fury Road</desc>
    <startdate>2020-09-26T00:00:00</startdate>
    <enddate>2020-09-26T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>The Godfather II</desc>
    <startdate>2020-09-27T00:00:00</startdate>
    <enddate>2020-09-27T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Movie</tasktype>
    <desc>Beyond the Black Rainbow</desc>
    <startdate>2020-09-29T00:00:00</startdate>
    <enddate>2020-09-29T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Show</tasktype>
    <desc>Sopranos S3</desc>
    <startdate>2020-09-13T00:00:00</startdate>
    <enddate>2020-09-19T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Show</tasktype>
    <desc>Black Lagoon</desc>
    <startdate>2020-09-20T00:00:00</startdate>
    <enddate>2020-09-23T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Show</tasktype>
    <desc>Sopranos S4</desc>
    <startdate>2020-09-24T00:00:00</startdate>
    <enddate>2020-10-03T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Drawing</tasktype>
    <desc>Benrey Shapes</desc>
    <startdate>2020-09-13T00:00:00</startdate>
    <enddate>2020-09-23T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Drawing</tasktype>
    <desc>Wash Cry for Judas</desc>
    <startdate>2020-09-24T00:00:00</startdate>
    <enddate>2020-10-03T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Reading</tasktype>
    <desc>KSBD</desc>
    <startdate>2020-09-13T00:00:00</startdate>
    <enddate>2020-09-19T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Reading</tasktype>
    <desc>Halo Fall of Reach</desc>
    <startdate>2020-09-20T00:00:00</startdate>
    <enddate>2020-09-26T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Reading</tasktype>
    <desc>The Jakarta Method</desc>
    <startdate>2020-09-27T00:00:00</startdate>
    <enddate>2020-10-03T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Writing</tasktype>
    <desc>Spooky Action Ch7</desc>
    <startdate>2020-09-13T00:00:00</startdate>
    <enddate>2020-09-19T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>Writing</tasktype>
    <desc>Spooky Action Chp8</desc>
    <startdate>2020-09-20T00:00:00</startdate>
    <enddate>2020-09-30T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>VideoGame</tasktype>
    <desc>Hollow Knight</desc>
    <startdate>2020-09-13T00:00:00</startdate>
    <enddate>2020-09-16T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>VideoGame</tasktype>
    <desc>Hylics 2</desc>
    <startdate>2020-09-17T00:00:00</startdate>
    <enddate>2020-09-19T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
  <task>
    <tasktype>VideoGame</tasktype>
    <desc>Halo 2 </desc>
    <startdate>2020-09-20T00:00:00</startdate>
    <enddate>2020-10-03T00:00:00</enddate>
    <actualstart>0001-01-01T00:00:00</actualstart>
    <actualend>0001-01-01T00:00:00</actualend>
    <overdue>false</overdue>
    <completed>false</completed>
  </task>
</alltasks>